---
devices:
  samplerate: 44100
  chunksize: 1024
  silence_threshold: -61
  silence_timeout: 3.0
  capture:
    type: Pulse
    channels: 2
    device: "MySink.monitor"
    format: S16LE
  playback:
    type: Pulse
    channels: 2
    device: "alsa_output.pci-0000_03_00.6.analog-stereo"
    format: S32LE

filters:
  lp1:
    type: Biquad
    parameters:
      type: Lowpass
      freq: 1500
      q: 0.5
  atten:
    type: Gain
    parameters:
      gain: -3
      inverted: false
  lowpass_fir:
    type: Conv
    parameters:
      type: Raw 
      filename: filter2.txt

mixers:
  mono:
    channels:
      in: 2
      out: 2
    mapping:
      - dest: 0
        sources:
          - channel: 0
            gain: -7
            inverted: false
          - channel: 1
            gain: -6
            inverted: false
      - dest: 1
        sources:
          - channel: 0
            gain: -6
            inverted: false
          - channel: 1
            gain: -6
            inverted: false

pipeline:
  - type: Filter
    channel: 0
    names:
      - atten
      - lowpass_fir
  - type: Filter
    channel: 1
    names:
      - atten
      - lowpass_fir
   

