---
devices:
  samplerate: 44100
  chunksize: 1024
  capture:
    type: Alsa
    channels: 2
    device: "hw:Loopback,0,0"
    format: S16LE
  playback:
    type: Alsa
    channels: 4
    device: "hw:Generic_1"
    format: S32LE

filters:
  lowpass_fir:
    type: Conv
    parameters:
      type: Raw 
      filename: filter.txt
  highpass_fir:
    type: Conv
    parameters:
      type: Raw 
      filename: filter.txt
  peak1:
    type: Biquad
    parameters:
      type: Peaking
      freq: 100
      q: 2.0
      gain: -20

mixers:
  mono:
    channels:
      in: 2
      out: 4
    mapping:
      - dest: 0
        sources:
          - channel: 0
            gain: -6
            inverted: false
      - dest: 1
        sources:
          - channel: 1
            gain: -6
            inverted: false
      - dest: 2
        sources:
          - channel: 0
            gain: -6
            inverted: false
      - dest: 3
        sources:
          - channel: 1
            gain: -6
            inverted: false
pipeline:
  - type: Mixer
    name: mono
  - type: Filter
    channel: 0
    names:
      - lowpass_fir
      - peak1
  - type: Filter
    channel: 1
    names:
      - lowpass_fir
      - peak1
  - type: Filter
    channel: 2
    names:
      - highpass_fir
  - type: Filter
    channel: 3
    names:
      - highpass_fir
   

